@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.quiz-top {
  text-align: center;
}

.quiz-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.quiz-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--text-secondary);

  span {
    color: var(--primary);
  }

  .unanswered-count-danger {
    color: var(--danger);
  }
  .unanswered-count-safe {
    color: var(--safe);
  }
}

.quiz-timer {
  background: var(--primary);
  color: white;
  padding: 6px 14px;
  border-radius: $radius-sm;
  font-weight: 600;
  transition: $transition-fast;
}

.quiz-timer.warning {
  background: var(--danger);
}

/* question Transition */

.question-container {
  transition: opacity 0.2s ease, transform 0.2s ease;

  h5 {
    color: var(--primary);
    margin: 10px;
  }
}

.question-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.question-container.fade-out {
  opacity: 0;
  transform: translateY(10px);
}

.question-text {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 28px;
  text-align: center;
}

.options-grid {
  display: grid;
  gap: 16px;
}

.option-block {
  padding: 18px;
  border-radius: $radius-md;
  border: 1px solid var(--border);
  background: var(--surface);
  color: var(--text-secondary);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: $transition-fast;

  &:hover {
    transform: translateY(-2px);
    box-shadow: $shadow-sm;
    border-color: blueviolet;
  }

  &.selected {
    border: 2px solid var(--primary);
    background: var(--card);
  }
}

.quiz-navigation {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.quiz-submit {
  margin-top: 10px;
}

/* Modal */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 999;

  @include flex-itemCenter-justifyCenter;
}

.modal {
  background: var(--card);
  padding: 32px;
  border-radius: $radius-lg;
  max-width: 420px;
  width: 100%;
  text-align: center;
  box-shadow: $shadow-lg;
  line-height: 28px;

  h2 {
    margin-bottom: 20px;
  }
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 20px;
}

/* Progress Bar */

.quiz-progress-bar-wrapper {
  width: 100%;
  height: 8px;
  background: var(--border);
  border-radius: 999px;
  overflow: hidden;
}

.quiz-progress-bar {
  height: 100%;
  background: var(--primary);
  transition: width 0.4s ease;
}

/* Simple Circular Timer */

.quiz-timer-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 1s liear;
}

.quiz-timer-inner {
  width: 55px;
  height: 55px;
  background: var(--card);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

// RESPONSIVE

@include respond(tablet) {

  .quiz-title {
    font-size: 24px;
  }

  .question-text {
    font-size: 20px;
  }

  .option-block {
    padding: 16px;
    font-size: 15px;
  }
}

@include respond(mobile) {

  .quiz-wrapper {
    gap: 12px;
  }

  .quiz-title {
    font-size: 20px;
  }

  .quiz-meta {
    flex-direction: column;
    gap: 10px;

    span {
      place-content: center;
    }
  }

  .question-text {
    font-size: 16px;
  }

  .option-block {
    padding: 14px;
    font-size: 14px;
  }

  .quiz-navigation {
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  .modal {
    padding: 20px;
    margin: 20px;
    border-radius: $radius-md;
  }

  .quiz-timer {
    font-size: 13px;
    padding: 5px 10px;
  }
}