@use "../../../styles/mixins" as *;

.questions-step {
  max-width: 900px;
  margin: auto;
}

.questions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  h2 {
    font-size: 28px;
  }
}

.add-question-btn,
.add-option-btn {
  background: #7c5cff;
  border: none;
  margin-top: 10px;
  padding: 10px 16px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.question-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  padding: 25px;
  border-radius: 18px;
  margin-bottom: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

  p {
    margin-top: 10px;
    color: var(--danger);
  }
}

.question-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-question-btn,
.delete-option-btn {
  background: transparent;
  border: none;
  color: #ff6b6b;
  font-size: 18px;
  cursor: pointer;
}

.question-input {
  width: 100%;
  margin: 15px 0;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.option-input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 12px;
  margin: 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

.error-text {
  color: var(--danger);
}

.question-type-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  max-width: 300px;
  min-width: 150px;

  margin-bottom: 10px;

  label {
    background-color: var(--overlay-bg);
    color: var(--primary);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s ease;
    

    &:hover {
      background: var(--glass-bg);
      color: var(--primary-hover);
      border-color: blueviolet;
      transform: translateY(-2px);
    }

    &.single {
      background: var(--glass-bg);
      border-color: var(--primary);
    }

    &.multiple {
      background: var(--glass-bg);
      border-color: var(--primary);
    }
  }
}