@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

:root {
  --bg: #ffffff;
  --surface: #f8fafc;
  --card: #ffffff;
  --border: #e2e8f0;

  --text-primary: #0f172a;
  --text-secondary: #475569;

  --primary: #6366f1;
  --primary-hover: #4f46e5;

  --danger: #ef4444;
  --danger-hover: #c12424;

  --safe: rgb(69, 231, 69) ;
  --safe-hover: rgb(26, 188, 26) ;
  --gray-hover: lightgray;

  --primary-soft: rgba(99, 102, 241, 0.15);
  --primary-glow: rgba(99, 102, 241, 0.35);
  --card-glass: rgba(255, 255, 255, 0.05);
  --card-border-soft: rgba(255, 255, 255, 0.12);

  --overlay-bg: rgba(15, 23, 42, 0.75);

  --glass-bg: rgba(255, 255, 255, 0.70);
  --glass-border: rgba(255, 255, 255, 0.15);

  --glass-surface: rgba(255, 255, 255, 0.05);
  --glass-surface-border: rgba(255, 255, 255, 0.08);

  --glass-highlight: rgba(255, 255, 255, 0.18);

  --modal-shadow: 0 25px 60px rgba(0, 0, 0, 0.45);

  --divider-gradient: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.2),
    transparent
  );
}

.dark {
  --bg: #0f172a;
  --surface: #111827;
  --card: #1e293b;
  --border: #2d3748;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;

  --primary: #6366f1;
  --primary-hover: #7c82ff;

  --danger: #ef4444;

  --primary-soft: rgba(99, 102, 241, 0.2);
  --primary-glow: rgba(99, 102, 241, 0.45);

  --overlay-bg: rgba(2, 6, 23, 0.85);

  --glass-bg: rgba(255, 255, 255, 0.04);
  --glass-border: rgba(255, 255, 255, 0.08);

  --glass-surface: rgba(255, 255, 255, 0.03);
  --glass-surface-border: rgba(255, 255, 255, 0.06);

  --glass-highlight: rgba(255, 255, 255, 0.12);

  --modal-shadow: 0 30px 80px rgba(0, 0, 0, 0.65);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text-primary);
  transition: background 0.3s ease, color 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
