@use "../../styles/mixins" as *;


.home-page {
  min-height: 100vh;
  padding: 60px 24px;
  background: radial-gradient(
      circle at top left,
      var(--primary-soft),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      var(--primary-soft),
      transparent 40%
    ),
    var(--bg);

  display: flex;
  justify-content: center;

  @include respond(mobile) {
    padding: 40px 16px;
  }
}

.quiz-section {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -1.5px;

  background: linear-gradient(
    90deg,
    var(--primary),
    var(--primary-hover),
    var(--primary)
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include respond(tablet) {
    font-size: 2.8rem;
  }

  @include respond(mobile) {
    font-size: 2.2rem;
  }
}

.hero-subtitle {
  max-width: 650px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: var(--text-secondary);
  line-height: 1.6;

  @include respond(mobile) {
    font-size: 1rem;
  }
}

.quiz-searh-bar-wrapper {
  margin: 0 20%;
}

#quiz-searh-bar {
  width: 100%;
  padding: 18px 24px;
  border-radius: 18px;
  font-size: 1rem;

  border: 1px solid var(--border);
  background: var(--surface);
  color: var(--text-primary);

  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 4px var(--primary-soft);
  }
}

.quiz-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @include respond(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(mobile) {
    grid-template-columns: 1fr;
  }
}

.quiz-item {
  list-style: none;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 150px;
  cursor: pointer;
}

.quiz-card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-primary);
}

.quiz-card p {
  color: var(--text-secondary);
  line-height: 1.6;
}

.card-footer {
  margin-top: auto;
  display: flex;
}

.start-btn {
  background: var(--primary);
  color: #fff;
  padding: 10px 18px;
  border-radius: 12px;
  width: 100%;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: var(--primary-hover);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px var(--primary-glow);
  }
}

.empty-state {
  text-align: center;
  padding: 60px 0;
  color: var(--text-secondary);
}
